<% include partials/header %>
<main class="flex justify-center items-center">
  <div class="w-4/12">
    <form action="/users/login/forgotpassword" method="POST">
      <h2>Please Enter your registered Email</h2>
      <% if(error) {%>
      <p><%=error %></p>
      <% } %> <% if(info) { %>
      <h3 class=""><%= info %></h3>
      <% } %>
      <input type="email" name="email" placeholder="Enter your email" />
      <input type="submit" value="Send Verification Code" class="submit" />
    </form>
  </div>
</main>