<!DOCTYPE html>
<html>
  <head>
    <title>Expenses and Incomes</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header></header>

    <main class="flex justify-center main">
      <div>
        <div class="">
          <div>
            <div class="expense text-center">
              <h1>Expense-Tracker</h1>
              <div class="">
                <a href="/auth/google" class="button-grow">
                  <h2>Login with google</h2>
                </a>
                <a href="/auth/github" class="button-grow">
                  <h2>Login With Github</h2>
                </a>
              </div>

              <div>
                <a class="button-grow red" href="/users/login">Login ?</a>

                <a class="button-grow green" href="/users/register/new"
                  >Register</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
