<% include partials/header %>
<main class="justify-center">
  <div class="text-center justify-center">
    <form
      action="/users/register/new"
      method="POST"
      enctype="multipart/form-data"
      class=""
    >
      <h2 class="text-lg">Register With Your Details</h2>
      <% if(error) { %>
      <p class="text-red-500"><%= error %></p>
      <% } %>
      <input type="text" name="name" id="" placeholder="Enter Your Name" />
      <input type="email" name="email" placeholder="Enter your email" />
      <input type="Number" name="age" placeholder="Enter your Age" />
      <input type="text" name="phone" placeholder="Enter Your phone Number" />
      <input
        type="text"
        name="country"
        id=""
        placeholder="Enter your Country"
      />
      <input
        type="password"
        name="password"
        placeholder="Enter your Password"
      />
      <input type="file" name="photo" id="" />
      <br />
      <input class="submit" type="submit" />
      <a href="/users/login" class=""> Login </a>
    </form>
  </div>
</main>