<% include partials/header %>

<main>
  <div class="w-4/12">
    <form action="/users/login/resetpassword" method="POST">
      <h2>Please Enter your registered Email</h2>
      <% if(error) {%>
      <p class="text-red-400"><%=error %></p>
      <% } %>

      <input
        type="password"
        name="newPasswd1"
        placeholder="Enter your password"
      />
      <input
        type="password"
        name="newPasswd2"
        placeholder="confirm your password"
      />
      <input type="submit" value="Send Verification Code" class="submit" />
    </form>
  </div>
</main>